{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.category_details'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.category_details'|trans }}</h1>
    <h1> {{ category.title }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>


        {% if pagination.items|length > 0 %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'task.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'task.createdAt') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'task.updatedAt') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'task.title') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for task in pagination.items %}
                    <tr>
                        <td>{{ task.id }}</td>
                        <td>{{ task.createdAt|format_date('long') }}</td>
                        <td>{{ task.updatedAt|format_date('long') }}</td>
                        <td>{{ task.title }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div>{{ 'task.no_task'|trans }}</div>
            <h1>Hello</h1>
        {% endif %}


    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}
